@keyframes pulse_animation {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

.cssdog {
    position: fixed; top: 10%; left: 90%;
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}